
* {
    font-family: 'Inconsolata', monospace;
}
body {
    background: #0582ca;
    
}

.contenedor-de-vuelta-a-inicio {
    
    background: #fff;
    width: 75px;
    height: 660px;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    z-index: 10000;

    margin-left: 0;
    margin-right: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    box-shadow:  7px 15px 25px #006494;
    
    
}
.logo-inox {
    margin-top: 15px;
}


.nav-noticias {
    display: flex;
}

.nav__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 0;
    height: 200px;
    list-style: none;
}
.nav__link {
    text-decoration: none;
    color: #000;   
    font-size: 1.3rem;
}

.nav__link:hover {
    color: #0582ca;
}
.nav__link:active {
    color: #003554;
}

/*conetedores de la pagina principal*/
/*contenedor area noticias noticias*/
.container-total {
    display: flex;
    justify-content: space-between;
    margin-left: 150px !important;
    margin-right: 20px !important;
    padding: 0;
}
.noticias-container {
    width: 25vw;
    height: 90vh;
    background: transparent;
    margin: 30px 20px;
    border-radius: 20px;
    
}




/*  noticias-pertinentes */
.noticias-pertinentes {
    background: #fff;
    
    margin-left: 0;
    margin-right: 0;

    width: 100%;
    height: fit-content;
    border-radius: 20px;
    box-shadow:  7px 15px 25px #006494;
}
.informacion-noticia {
    padding: 10px;
}
.noticias-pertinentes p {
    font-size: 0.8rem;
}
.noticias-pertinentes h5 {
    font-size: 0.97rem;
    margin: 1px;
}
.img-contenedor-new {
    display: flex;
    justify-content: center;
}
.img-contenedor-new img {
    object-fit: contain;
    width: 30px;
}

/*  estadisticas-criptos */
.estadisticas-criptos {
    background: #fff;
    margin-top: 30px;
    border-radius: 20px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    box-shadow:  7px 15px 25px #006494;
}
.contenedor-de-info-monedas img {
    width: 30%;
    display: inline;
}
.contenedor-de-info-monedas p {
    display: inline;
    text-align: center;
}
.contenedor-de-info-monedas small {
    display: block;
    text-align: center;
}

/*  lista-favoritos */
.lista-favoritos {
    padding-top: 10px;
    background: #fff;
    margin-top: 30px;
    border-radius: 20px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    box-shadow:  7px 15px 25px #006494;

}

.titulo-lista-favoritos{
    text-align: center;
}
.contenedor-de-info-favoritos {
    width: 100%;
    padding: 0;
}

.contenedor-de-info-favoritos img {
    width: 20%;
    display: inline;
   
}



.contenedor-de-info-favoritos h6{
    display: inline;
}
.contenedor-de-info-favoritos small {
    display: block;
}


.lado-derecho-info-favoritos {
   margin: 0;
   padding: 0;
   text-align: right;

}



/*  hostorial-transaccion */
.historial-transaccion {
    padding-top: 5px;
    background: #fff;
    margin-top: 30px;
    border-radius: 20px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 230px;
    text-align: center;
    box-shadow:  7px 15px 25px #006494;
}
.historial-transaccion h5 {
    margin: 0;
    height: fit-content;
    
}
.contenedor-transaccion-history {
    border: 1px solid #999;
    border-radius: 25px;
    margin-top: 3px;
}
.contenedor-transaccion-history p {
    margin: 0;
}

.mensaje-sin-transacciones {
    margin-top: 100px;
}

#contenedorEnviados {
    height: 170px;
	
	overflow-y: scroll;
}
#contenedorRecibidos {
    height: 170px;
	
	overflow-y: scroll;
}
#contenedorRetirados {
    height: 170px;
	
	overflow-y: scroll;
}



/* contenedor del balance y estadisticas*/
.balance-container {
    width: 25vw;
    height: 90vh;
    background: #fff;
    margin: 30px 20px;
    border-radius: 20px;
    box-shadow:  20px 15px 25px #006494;
}
.contenedor-balance-total {
    padding-top: 10px;
    background: #fff;
    border-radius: 20px;
    height: 200px;

    
}
.contenedor-balance-total h5 {
    margin-bottom: 0;
}
.contenedor-balance-total h3 {
    margin-top: 0;
}
.contenedor-balance-total p {
    text-align: center;
}

/* contenedor de controladores grafica*/
.contenedor-de-controladores-grafica {
    background: #fff;
    /* padding: 10px 0; */
    /* border-bottom: 1px solid rgb(201, 201, 201);
    border-top: 1px solid rgb(201, 201, 201); */
}
.contenedor-de-boton-grafia {
    /* padding: 4px; */
    text-align: center;
}
.controlador-grafica {
    border-radius: 13px;
    font-size: 0.8rem;
    border: none;
    background: rgb(229, 228, 228);
    width: 35px;
}
.controlador-grafica:focus {
    
    background: #58c7ff;
    color: #006494;
}
.historial-controler {
    width: fit-content;
}

.contenedor-cotrol-historial {
    height: fit-content;
}

/* contenedor de cuentas activas*/

.contenedor-cuentas-activas {
    margin-top: 10px;
    padding: 0 10px;
}
/*contenedor de operaciones*/
.operaciones-container {
    width: 25vw;
    height: 90vh;
    background: #fff;
    margin: 30px 20px;
    border-radius: 20px;
    padding-top: 15px;
    box-shadow:  20px 15px 25px #006494;
}



.formulario-login {
    
    border-radius: 20px;
    background-color: #ffffff;
    
    transition: all 0.5s;
    
}

.formulario-login h3 {
    
    color: #003554;
}
.formulario-login small {
    color: #006494;
    
}

.linkRegister {
    text-decoration: none;
    color: #004f74;
    font-size: 17px;
}

.linkRegister:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid #0b6189;
    text-decoration: none;
    color: #0b6189;
}



.correo-form {
    margin-top: 10px;

    margin-bottom: 10px;

}
.correo-form input {
    width: 100%;
    outline: none;
    border: 1px solid #064d76;
    border-radius: 5px;
    color: #003554;
    height: 45px;
    transition: all 0.5s;


}
.correo-form p {
    color: #003554;
}
.correo-form input::placeholder {
    color: #006494;
}
.correo-form input:focus {
    box-shadow: 0px 2px 7px #006494;
    height: 47px;
}

.contrasena-form {
    margin-top: 20px;
    margin-bottom: 10px;
}

.contrasena-form input {
    width: 100%;
    outline: none;
    border: 1px solid #064d76;
    border-radius: 5px;
    color: #003554;
    height: 45px;
    transition: all 0.5s;
}
.contrasena-form p {
    color: #003554;
}
.contrasena-form input::placeholder {
    color: #006494;
}
.contrasena-form input:focus {
    box-shadow: 0px 2px 7px #006494;
    height: 47px;
}

.boton-login{
    text-align: center;
    margin-top: 30px;

}
.boton-login input {
    width: 80%;
}

.btn-register {
    text-decoration: none;
    border: none;
    border-radius: 50px;
    background: #006494;
    color: #fff;
    padding: 8px 20px;
    transition: all 0.6s;
    margin-right: 5px ;
}

.btn-register:hover {
   color: #fff;
   background: #0380ba;

}
.contenedor-generador-codigo {
    border-top: 1px solid #999;
    padding-top: 3px;
    
}

.inactive {
    display: none !important;
}

/* mensaje styles*/
.contador-mensaje {
    position: relative;
    right: 17px;
    bottom: 3px;
    font-size: 0.8em;
    color: rgb(0, 97, 0);

}
.iconMensaje i {
    color: rgb(0, 97, 0);
    
}

.mensaje-container {
    border-radius: 20px;
    box-shadow:  3px 7px 10px #006494;
}
.mensaje-container small{
    display: block;

}

.contenedor-mensaje {
    overflow-y: scroll;
    height: 400px;
    padding: 15px;
    
}

.check-green {
    color: green;
}
.check-green:hover {
    color: rgb(0, 97, 0);
}

.check-red {
    color: red;
}
.check-red:hover {
    color: rgb(202, 0, 0);
}

/* form ATM styles */


.fixed-ATM {
    position: fixed;
    width: 700px;
    height: fit-content;
    z-index: 100;

}

.formulario-atm {
    position: absolute;
    top: 30px;
    left: 22%;
    height: 620px;
    padding: 30px;
    width: 350px;
}

.icon-flecha-abajo {
    display: block;
    font-size: 1.3em;
    margin-top: 7px;
}


#scroll-listfav {
    height: 400px;
	
	overflow-y: scroll;
}

#scroll-list-contenedor-user {
    height: 80px;
	
	overflow-y: scroll;
    
}

.contenedor-padre-listfav {
    padding: 10px;
}


.delete-list {
    color: red;
}
.delete-list:hover {
    color: rgb(175, 0, 0);
}