<nav class="navbar navbar-expand-lg fixed-top">
      <div class="container">
        <a class="navbar-brand text-white fs-3 name-bank" href="#">INOX BANK™</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span> 
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto me-lg-8 py-3">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">Descubre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Negocios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ayuda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Comunidad</a>
            </li>
          </ul>
          <a class="btn-custom ms-lg-2 btn-login" href="/login">Iniciar sesión</a>
          <a class="btn-custom ms-lg-2 btn-register" href="/singup">Registrarse</a>
        </div>
      </div>
    </nav>

    <!-- inicio header-->
    <header class="wave" id="inicio">
     <div class="container">
       <div class="row">
          <div class="col-md-6 text-white mt-4 ms-5" style="z-index: 1;">
              <h1 class="fw-normal h1-lema-principal">‘Maxima fiabilidad y seguridad’</h1>
              <p class="parrafo-principal">Intercambia entre criptomonedas, metales preciosos, acciones estadounidenses* y monedas nacionales en un solo paso.</p>
              <a class="btn-descubrenos" href="#descubrenos" >Criptos<i class="bi bi-currency-bitcoin"></i></a>
            
          </div>
          <div class="columna-apptrader col ms-6 " style="z-index: 1;">
              <div class="container-app-trader">
                
                <div class="row-apptrader row-superior">
                  <div class="icon-container">
                    <img class="icon-apptrader" src="icons/INOX.png" alt="INOX ICON">
                  </div>
                  <p class="p-apptrader">Convierte tu <strong>moneda favorita</strong> a <strong>Bitcoin</strong> al instante</p>
                </div>
                <div class="row-apptrader row-medio">
                  <small class="small-apptrader">From: USD</small>
                  <input class="input-apptrader" type="number" placeholder="100" id="UsdF">

                </div>
                <div class="row-apptrader row-inferior">
                  <small class="small-apptrader">To: Bitcoin</small>
                  <input class="input-apptrader" type="number" placeholder="0.0053" id="BitcoinF">
                   <p class="f-apptrader" id="numeroNegativo"></p>
                </div>
              </div>
          </div>
       </div>
     </div>
    <!-- fin del inicio -->
    </header>

    <!-- Seccion Nosotros -->
    <section id="about" class="about">
      <div class="container">
       <div class="section-title">
             <h2>INOX es una plataforma global para el intercambio de monedas locales hasta criptomonedas</h2>
             <div class="h3-container">
              <h3>Te ofrecemos un lugar seguro con el que puedes enviar, recibir y reunir tu dinero y de una manera muy sencilla</h3>
             </div>
             
       </div>
       <div class="row">
         <div class="col-lg-6">
           <div class=" member">
             <div class="info-estadisticas">
              <h2>2+</h2>
              <div class="h3-container">
               <h3>Millones de usuarios</h3>
              </div>

             </div>
           </div>
         </div>
         <div class="col-lg-6 mt-4 mt-lg-0">
          <div class=" member">
            <div class="info-estadisticas">
             <h2>100+</h2>
             <div class="h3-container">
              <h3>Criptomonedas</h3>
             </div>

            </div>
          </div>
         </div>

       </div>
      </div>

    </section>

    <footer class="footer">
      <div class="footer-container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore commodi, 
        sit recusandae culpa ipsum facere amet. Quia, deleniti numquam aut cum deserunt 
        repellat fugit possimus inventore recusandae eligendi, suscipit sapiente.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore commodi, 
        sit recusandae culpa ipsum facere amet. Quia, deleniti numquam aut cum deserunt 
        repellat fugit possimus inventore recusandae eligendi, suscipit sapiente.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore commodi, 
        sit recusandae culpa ipsum facere amet. Quia, deleniti numquam aut cum deserunt 
        repellat fugit possimus inventore recusandae eligendi, suscipit sapiente.
        <h2 style="text-align: center;">This is a footer</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore commodi, 
        sit recusandae culpa ipsum facere amet. Quia, deleniti numquam aut cum deserunt 
        repellat fugit possimus inventore recusandae eligendi, suscipit sapiente.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore commodi, 
        sit recusandae culpa ipsum facere amet. Quia, deleniti numquam aut cum deserunt 
        repellat fugit possimus inventore recusandae eligendi, suscipit sapiente.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore commodi, 
        sit recusandae culpa ipsum facere amet. Quia, deleniti numquam aut cum deserunt 
        repellat fugit possimus inventore recusandae eligendi, suscipit sapiente.
      </div>
    </footer>

    <script src="utils/navScroll.js"></script>
    <script src="utils/apptrader.js"></script>