        <link rel="stylesheet" type="text/css" href="/css/styleLogin.css">

 <div class="container contenedor-de-vuelta-a-inicio">
        <div class="row">
            <div class="col-xl-12">
                <a class="navbar-brand text-white fs-3 name-bank" href="/">INOX BANK™</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row fila-principal">
            <div class="col-xl-6 lado-izquierdo">
                <h1>‘La manera más segura y fácil de cuidar tus finanzas’</h1>

                <h4>Intercambia entre múltiples clases de activos diferentes
                    desde una sola cuenta. Además de disfrutar de transacciones
                    de alta seguridad de una cuenta a otra a un bajo porcentaje de comisión.
                </h4>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../images/logoBTC.png" alt="">
                    </div>
                    <div class="col-sm-4">
                        <img src="../images/logoLithcoin.png" alt="">
                    </div>
                    <div class="col-sm-4">
                        <img src="../images/LogoSolana.png" alt="" class="solanaLogo">
                    </div>
                </div>
                    
            </div>
            <div class="col-xl-6 lado-formulario">
                <form action="/login" method="POST" class="formulario-login">
                    <!-- cabeza del formulario-->
                    <div class="head-form">
                        <h3>Inicia sesión en INOX</h3>
                        <small>¿No tienes cuenta? <a href="/singup" class="linkRegister">Registrate ahora</a></small>
                    </div>
                    <!-- area del correo electronico -->
                    <div class="correo-form">
                        <p>Direccion de correo electrónico</p>
                        <input type="email" name="Correo" placeholder="Username01@inox.com" id="email">
                    </div>
                    <!-- area de la contraseña-->
                    <div class="contrasena-form">
                        <p>Contraseña</p>
                        <input type="password" name="Contraseña" placeholder="··········" id="pass">
                    </div>

                    <!-- area del boton de ingresar -->
                    <div class="boton-login">
                        <button class="btn-register" value="ingresar">
                            Ingresar
                        </button>
                    
                    </div>
                    <div class="alert-sesionFalse" id="alertSesionFalse">
                        <!-- aquí va un mensaje de error por que el usuario no existe-->
                      </div>
                </form>
            </div>
        </div>
    </div>

